.top_banner {
	width:100%;
	height:35px;
	background:#92BD27;
	position:absolute\9;/* IE 9 and below */
	top:0;
	left:0;
}

#google_ads_div_FM_300x29_expandable_ad_wrapper {
	height: 35px;
	margin: 0 auto;
	position: absolute;
	position: relative\9; /* IE 9 and below */
	text-align: left;
	width: 970px;
	top:0px;
	right:0px;
}


#google_ads_div_FM_300x29_expandable_ad_container{
	width:300px;
	position:absolute;
	z-index:99999;
	top:3px;
	right:0px;
}

